/* Hero Global ---------------------------------- */
.th-hero-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden; 
}

.th-hero-bg {
    position: absolute;
    inset: 0;
}

.hero-subtitle {
    display: inline-block;
    color: $theme-color;
    font-size: 14px;
    font-weight: 700;
    font-family: $body-font;
    position: relative;
    margin-bottom: 24px;
    margin-left: 65px;
    text-transform: uppercase;
    line-height: 1.4;

    .single-line {
        &:before {
            position: absolute;
            content: "";
            margin-top: -1px;
            width: 50px;
            background-color: $theme-color;
            height: 1px;
            -webkit-transform: translate(-100%, 0);
            -moz-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
            -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
            top: 50%;
            left: -10px;
        }
    }

}

.hero-title {
    color: $white-color;
    font-family: $title-font;
    font-size: 92px;
    font-style: normal;
    font-weight: 600;
    line-height: 92px;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.hero-text {
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $white-color;
    max-width: 628px;
    margin-bottom: 30px;
}

.hero-counter {
    color: $theme-color;
    font-family: $title-font;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    text-transform: capitalize;
    margin-left: 40px;
}

.counter-plus {
    color: $theme-color;
    font-family: $title-font;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 58px;
    text-transform: capitalize;
    margin-right: 10px;
}

.counter-text {
    display: inline-block;
    color: $white-color;
    font-family: $title-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    text-transform: capitalize;
    transform: translateY(-15%);
    -webkit-transform: translateY(-15%);
    -moz-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    -o-transform: translateY(-15%);
}

.hero-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Hero 1 ---------------------------------- */
.hero-1 {
    position: relative;
    background-color: $gray-color5;
    background-color: $gray-color5;
    border: none; 
    padding: 1px; 
    background-clip: padding-box;
    box-shadow: 0 0 1px rgb(0, 0, 0);  

    .clipped-element {
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 72.184%, 100% 72.184%, 98.071% 72.962%, 96.175% 75.076%, 94.309% 78.192%, 92.473% 81.975%, 90.666% 86.092%, 88.887% 90.209%, 87.135% 93.992%, 85.409% 97.107%, 83.708% 99.221%, 82.031% 100%, 82.031% 100%, 74.99% 100%, 68.304% 100%, 61.895% 100%, 55.68% 100%, 49.579% 100%, 43.512% 100%, 37.398% 100%, 31.157% 100%, 24.707% 100%, 17.969% 100%, 17.969% 100%, 16.288% 99.221%, 14.584% 97.107%, 12.857% 93.992%, 11.104% 90.209%, 9.325% 86.092%, 7.519% 81.975%, 5.685% 78.192%, 3.821% 75.076%, 1.926% 72.962%, 0% 72.184%, 0% 0%);

        @include md {
           clip-path: none;
        }
    }

    .th-hero {
        &_shape1 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0.9;
            background: $black-color;
            z-index: 1;
        }

        &_shape2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 514px;
            height: 514px;
            background: var(--theme-color-f-41-e-1-e, #F41E1E);
            filter: blur(300px);
            border-radius: 514px;
            -webkit-border-radius: 514px;
            -moz-border-radius: 514px;
            -ms-border-radius: 514px;
            -o-border-radius: 514px;
            z-index: 2;
            @include sm{
                @include sm{
                    right: 30px;
                    width: 400px;
                    height: 300px;
                }
            }
        }

        &_shape3 {
            position: absolute;
            top: 15%;
            left: -2%;
            color: rgba(255, 255, 255, 0.04);
            font-family: $title-font;
            font-size: 400px;
            font-style: normal;
            font-weight: 600;
            line-height: 400px;
            transform: rotate(-35.9deg);
            -webkit-transform: rotate(-35.9deg);
            -moz-transform: rotate(-35.9deg);
            -ms-transform: rotate(-35.9deg);
            -o-transform: rotate(-35.9deg);
            z-index: 3;
        }

        &_shape4 {
            position: absolute;
            bottom: 0;
            right: 302px;
            width: 514px;
            height: 514px;
            background: $theme-color;
            filter: blur(300px);
            border-radius: 514px;
            -webkit-border-radius: 514px;
            -moz-border-radius: 514px;
            -ms-border-radius: 514px;
            -o-border-radius: 514px;
            z-index: 3;

            @include sm{
                right: 30px;
                width: 300px;
                height: 300px;
            }
        }

        &_shape5 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 3;
            &.man2{
                @include xxl {
                    width: 90%;
                    right: -45%;
                }
                @include ml {
                    width: 100%;
                    right: -59%;
                }
                @include xl {
                    width: 60%;
                    right: -23%;
                }
                @include lg {
                    width: 70%;
                    right: -35%;
                }
                @include md {
                   display: none;
                }
            }

            &.man3{
                @include xxl {
                    width: 95%;
                    right: -28%;
                }
                @include ml {
                    width: 100%;
                    right: -37%;
                }
                @include xl {
                    width: 95%;
                    right: -40%;
                }
                @include lg {
                    width: 95%;
                    right: -30%;
                }
                @include md {
                    display: none;
                }
            }
            @include xxl {
                width: 90%;
                right: -10%;
            }

            @include lg{
                width: 100%;
                right: -30%;
            }
            @include md {
                display: none;
            }
        }

        &_shape6 {
            position: absolute;
            bottom: -25%;
            right: 10%;
            z-index: 2;

            @include xxl {
                display: none;
            }
        }

        &_shape7 {
            position: absolute;
            top: 0;
            right: 6%;
            z-index: 2;

            @include xxl {
                display: none;
            }
        }

        &_shape8 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;

            @include xxl {
                display: none;
            }
        }

        &_shape9 {
            position: absolute;
            top: 0;
            right: 1%;
            z-index: 2;

            @include xxl {
                display: none;
            }
        }
    }
}

.hero-style1 {
    position: relative;
    z-index: 6;
    padding: 230px 0 280px 0;
    @include xxl{ 
      padding: 170px 0 190px 50px;
    }

}


/* Hero 2 ---------------------*/
.hero-style2 {
    padding: 247px 0 253px;

    .hero-subtitle {
        font-size: 16px;
        font-weight: 500;
    }

    .hero-title {
        font-size: 80px;
    }

    
    .btn-group{
        margin-top: 50px;
    }

}

.hero-indicator {
    position: absolute;
    left: 158px;
    top: 47%;
    transform: translate(0px, -50%);

    .indicatior-btn {
        display: block;
        border: 2px dotted #525960;
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;

        &:hover {
            border-color: $theme-color;
        }

        img {
            border-radius: 50%;
        }

        ~.indicatior-btn {
            margin-top: 20px;
        }

        &.active {
            border-color: $theme-color;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 49%;
        transform: translate(50%, 100%);
        height: 144px;
        width: 2px;
        background: linear-gradient(#FFC000, transparent);
    }

    &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: 49%;
        transform: translate(50%, -100%);
        height: 144px;
        width: 2px;
        background: linear-gradient(transparent, #FFC000);
    }
}

.hero-slider-2 {
    .hero-bg-color {
        background: $theme-color;
        mix-blend-mode: hue;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .hero-thumb {
        position: relative;
        margin: -32px -420px 0 -59px;

        .car-mask {
            position: absolute;
            left: 0;
            top: 0;
            background: $theme-color;
            mix-blend-mode: hue;
            height: 100%;
            width: 100%;
            mask-size: cover;
        }
    }
}

 /* Hero 3*/
 .hero-style3 {
    position: relative;
    z-index: 6;
    padding: 357px 0 212px 0;
    @include xxl{ 
      padding: 357px 0 190px 50px;
    }
} 


@media (max-width: 1600px) {
    .hero-indicator {
        left: 80px;
    }

    .hero-3 .hero-bottom-social {
        bottom: 95px;

        &.pos-right {
            bottom: 110px;
        }
    }

    .hero-slider-3 .th-hero-bg {
        clip-path: polygon(100% 0, 100% 100%, 63.5% 84%, 0 100%, 0 0);
    }
}

@include xxl {
    .hero-indicator {
        left: 30px;
    }

    .hero-slider-3 .slick-arrow {
        --pos-x: 30px;
    }

    .hero-3 .hero-bottom-social {
        bottom: 100px;

        &.pos-right {
            bottom: 120px;
        }
    }

    .hero-3 .watermark {
        font-size: 190px;
        left: -50px;
    }
}

@include ml {
    .hero-slider-1 .slick-dots {
        right: 80px;
    }

    .hero-3 .hero-bottom-social {
        bottom: 120px;

        &.pos-right {
            bottom: 140px;
        }
    }

    .hero-slider-3 .th-hero-bg {
        clip-path: polygon(100% 0, 100% 100%, 67% 84%, 0 100%, 0 0);
    }

    .hero-style3 .hero-title,
    .hero-style2 .hero-title,
    .hero-title {
        font-weight: 700;
        font-size: 74px;
        line-height: 1;
    }
}

@include xl {
    .hero-style1 {
        padding: 150px 0px 200px 100px;
    }

    .hero-title {
        font-size: 74px;
        line-height: initial;
    }

    .hero-indicator {
        display: none;
    }

    .hero-3 .hero-bottom-social {
        bottom: 125px;

        &.pos-right {
            bottom: 160px;
        }
    }

    .hero-style2 {
        padding: 247px 0px 253px 70px;
    }
}

@include lg {
    .th-hero-wrapper {
        margin-bottom: 0;
    }

    .hero-style3 .hero-title,
    .hero-style2 .hero-title,
    .hero-title {
        font-size: 64px;
    }

    .hero-arrow {
        display: none;
    }

    .hero-style1 {
        padding: 150px 0 200px 85px;
    }
  
    .hero-style3 {
        padding: 310px 0 170px;
    }

    .hero-3 .hero-bottom-social {
        bottom: 130px;

        &.pos-right {
            bottom: 160px;
        }
    }

    .hero-3 .hero-bottom-social li a {
        font-size: 12px;

        .icon {
            height: 25px;
            width: 25px;
            line-height: 26px;
        }
    }

    .hero-slider-2 .hero-thumb {
        position: relative;
        margin: 0px -250px 0 -100px;
    }
}

@include md { 
    .hero-style3 .hero-title,
    .hero-style2 .hero-title,
    .hero-title {
        font-size: 50px;
        line-height: initial;
    }

    .hero-1:before {
        width: 114px;
        height: 52.5px;
        border-bottom: solid 52.5px var(--theme-color);
        border-right: solid 114px var(--theme-color);
        border-left: solid 114px transparent;
        border-top: solid 52.5px transparent;
    }

    .hero-1:after {
        width: 114px;
        height: 56px;
        border-bottom: solid 56px var(--theme-color2);
        border-right: solid 114px var(--theme-color2);
        border-left: solid 114px transparent;
        border-top: solid 56px transparent;
    }

    .hero-style1 {
        padding: 120px 0px;
    }
    .hero-style2 {
        padding: 200px 0px 180px 0px;
    }
    .hero-3 .hero-bottom-social {
        gap: 12px;
        bottom: 110px;

        &.pos-right {
            bottom: 150px;
        }
    }

    .hero-3 .hero-bottom-social li a .icon {
        margin: 0;
    }

    .hero-3 .hero-bottom-social li a span {
        display: none;
    }

    .hero-3 .watermark {
        left: -50px;
    }

    .hero-slider-3 .th-hero-bg {
        clip-path: polygon(100% 0, 100% 100%, 76% 84%, 0 100%, 0 0);
    }
    .hero-style3 {
        padding: 300px 0 140px;
    }
    .hero-2{
        .th-btn { 
            padding: 23px 24px; 
        }
        .hero-btn-wrapper{
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
}

@include sm {
    .hero-subtitle {
        font-size: 18px;
    }

    .hero-style1 .hero-title {
        max-width: 400px;
    }

    .hero-style2 {
        padding: 180px 0 150px 0px;
    }

    .hero-indicator {
        display: none;
    }

    .hero-style3 .hero-subtitle {
        font-size: 18px;
    }

    .hero-style3 .hero-title,
    .hero-style2 .hero-title,
    .hero-title {
        font-size: 46px;
        line-height: initial;
    }

    .hero-3 .hero-bottom-social {
        bottom: 120px;

        &.pos-right {
            bottom: 165px;
        }
    }

    .hero-slider-2 .hero-thumb {
        margin: 100px -30px -50px;
    }

    .hero-style3 {
        padding: 250px 0 100px;
    }
    .hero-style1{
        .hero-btn-wrapper{
            flex-direction: column-reverse; 
            margin-left: -220px;
            .th-btn{
                margin-left: -7em;
            } 
        }
    
    }
    .hero-style2 {  
        .th-btn.style2{
            padding: 23px 30px
        }
    }
    
    }

@include xs { 
    .hero-style3 .hero-title,
    .hero-style2 .hero-title,
    .hero-title {
        font-size: 40px;
        line-height: 1.2;
    }

    .hero-text {
        font-size: 14px;
    }

    .hero-style3 .hero-subtitle,
    .hero-subtitle {
        font-size: 16px;
    }

    .hero-slider-1 .th-hero-bg:after {
        background: linear-gradient(90deg, #161921 0%, rgba(22, 25, 33, 0.953646) 14.84%, rgba(22, 25, 33, 0.937582) 26.51%, rgba(22, 25, 33, 0.898426) 36.93%, rgba(22, 25, 33, 0.829362) 43.39%, rgba(22, 25, 33, 0.748119) 100%, rgba(22, 25, 33, 0) 100%);
    }

    .hero-slider-3 .th-hero-bg {
        background-position: bottom left;
    }

    .hero-3 .hero-bottom-social {
        transform: none;
        bottom: 130px;
        left: 15px;

        &.pos-right {
            transform: none;
            bottom: 130px;
        }
    }

    .hero-style3 {
        padding: 260px 0 120px;

        .play-btn>i {
            --icon-size: 50px;
            line-height: 48px;
        }
    }

    .hero-slider-3 .th-hero-bg {
        clip-path: none;
    }

    .hero-slider-2 .hero-thumb {
        margin: 80px -10px -80px;
    }
    .hero-style1 {
        padding: 70px 0px;
    }

    .hero-style2 {
        padding: 160px 0 140px 0px;
    }

    .hero-btn-wrapper  {
        flex-direction: row;
        justify-content: start; 
        flex-wrap: nowrap;
        margin-left: -20px;
         
    }
    .hero-btn-wrapper .th-btn {
        text-align: start;
        margin-left: -94px;
    }
    
    .hero-btn-wrapper .th-btn { 
        font-size: 12px; 
        line-height: 1.5;
        margin-right: 10px;

        &.style2{
            padding: 23px 30px;
            margin: 10px 0px;
            margin-left: 2em;
            line-height: 0.9;
        }
    }
    .hero-style1{
        .hero-btn-wrapper{
            flex-direction: column-reverse; 
            margin-left: -100px; 
        }
    
    }
    .hero-2 .th-btn {
        padding: 18px 20px;
    }
}

@media (max-width: 390px) {
    .hero-btn-wrapper  { 
        justify-content: start;
        text-align: start;
        margin-left: -70px;
         
    }
    .header-logo img {
        width: 160px;
    }

    .hero-style3 .hero-subtitle,
    .hero-subtitle {
        font-size: 14px;
    }

    .hero-3 .watermark {
        left: -60px;
        font-size: 140px;
        top: 0;
    }

    .th-hero-wrapper .btn-group {
        margin-top: 28px;
    }
 
    .hero-btn-wrapper .th-btn.style2 {
        padding: 23px 30px;
        margin: 10px 0px;
        margin-left: 6em;
    }
    .hero-style1{
        .hero-btn-wrapper{
            flex-direction: column-reverse; 
            margin-left: -75px; 
        }
    
    }
}
@include vxs{
    .hero-style1{
        .hero-btn-wrapper{
            flex-direction: column-reverse; 
            margin-left: -65px; 
        }
    
    }
}
@media (max-width: 320px){
    .hero-btn-wrapper  { 
        margin-left: -10px;
         
    }
    .hero-btn-wrapper .th-btn.style2 {
        padding: 23px 30px;
        margin: 10px 0px;
        margin-left: 1em;
    }
    .hero-btn-wrapper .th-btn.style2 {
        padding: 23px 16px;
        margin: 10px 0px;
        margin-left: 1em;
    }
    .hero-style1{
        .hero-btn-wrapper{
            flex-direction: column-reverse; 
            margin-left: -10px; 
        }
    
    }
}